<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notfound.timetrackserver.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.notfound.timetrackpojo.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="openid" property="openId"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="identity" property="identity"/>
        <result column="enroll_year" property="enrollYear"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="findById" resultMap="BaseResultMap">
        select id, openid, nickname, avatar_url, identity, enroll_year, create_time, update_time
        from `user`
        where id = #{id}
    </select>

    <select id="findByOpenId" resultMap="BaseResultMap">
        select id, openid, nickname, avatar_url, identity, enroll_year, create_time, update_time
        from `user`
        where openid = #{openId}
        limit 1
    </select>

    <insert id="insert" parameterType="com.notfound.timetrackpojo.entity.UserEntity"
            useGeneratedKeys="true" keyProperty="id">
        insert into `user` (openid, nickname, avatar_url, identity, enroll_year, create_time, update_time)
        values (#{openId}, #{nickname}, #{avatarUrl}, #{identity}, #{enrollYear}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateById" parameterType="com.notfound.timetrackpojo.entity.UserEntity">
        update `user`
        set nickname = #{nickname},
            avatar_url = #{avatarUrl},
            identity = #{identity},
            enroll_year = #{enrollYear},
            update_time = #{updateTime}
        where id = #{id}
    </update>
</mapper>

